DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USER=moveapps
DATABASE_PASSWORD=moveapps
DATABASE_NAME=component_repository

PORT=8000

# Generate with: python -c "import secrets; print(secrets.token_hex(64))"
JWT_SECRET=
JWT_EXPIRES_IN=86400

# Urls allowed to access the API (e.g. Frontend app running on localhost:5173)
CORS_ORIGIN=http://localhost:5173